 html,
html *,
body,
body * {
  cursor: none;
}

.cursor-sun {
  pointer-events: none;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-color: #ffea00;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(255, 234, 0, 0.7), 0 0 30px rgba(255, 234, 0, 0.5);
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 15px rgba(255, 234, 0, 0.7), 0 0 30px rgba(255, 234, 0, 0.5);
  }

  70% {
    box-shadow: 0 0 15px rgba(255, 234, 0, 0.9), 0 0 50px rgba(255, 234, 0, 0.7);
  }

  100% {
    box-shadow: 0 0 15px rgba(255, 234, 0, 0.7), 0 0 30px rgba(255, 234, 0, 0.5);
  }
}

.cursor-sun-outline {
  pointer-events: none;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-color: #ff7b0097;
  border-radius: 50%;
} 

/* @Gopal Start Working Here  */

/* html,
html *,
body,
body * {
  cursor: none;
}

.cursor-sun {
  pointer-events: none;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-sun::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.5);
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.5);
  }
  70% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.9), 0 0 50px rgba(255, 255, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.5);
  }
}

.cursor-sun-outline {
  pointer-events: none;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-color: #a5a5a57b;
  border-radius: 50%;
}  */